/**** R E S E T  start****/
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a,
button {
  cursor: revert;
}
ol,
ul,
menu {
  list-style: none;
}
img {
  max-width: 100%;
}
table {
  border-collapse: collapse;
}
textarea {
  white-space: revert;
}
meter {
  -webkit-appearance: revert;
  appearance: revert;
}
::placeholder {
  color: unset;
}
:where([hidden]) {
  display: none;
}
:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}
:where([draggable="true"]) {
  -webkit-user-drag: element;
}
/**** R E S E T  end****/

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  /* regular 400, extrabold 900, light italic 300 */
}

/* HEADER */

header,
footer {
  /* background-color: hsl(294, 95%, 8%); */
  background: linear-gradient(hsl(0, 0%, 12%), hsl(294, 95%, 8%));
  color: hsl(344, 96%, 48%);
  display: flex;
  justify-content: center;
}
.container {
  width: 1100px;
}
.main {
  display: flex;
  gap: 3em;
  margin: 8em 0em;
  align-items: center;
}

/* NAV */

nav {
  display: flex;
  margin-top: 1em;
}
.nav-links {
  margin-left: auto;
}
.logo {
  font-size: 24px;
  font-weight: 700;
}
ul {
  display: flex;
}
li {
  margin-left: 2em;
  color: hsl(50, 96%, 48%);
  font-size: 18px;
}
li:hover{
    padding-bottom: 5px;
    border-bottom: 1px solid hsl(50, 96%, 48%);
    transition: ease-in-out;
}

/* HERO */
h1 {
  font-size: 48px;
  font-weight: 900;
  margin: 8px 0px;
}
header p {
  color: hsl(220, 33%, 98%, 0.7);
  font-size: 18px;
}
.main-img {
  flex: 1 0 auto;
}
.main-img img {
  border-radius: 1em;
  box-shadow: 0px 12px 15px 0px rgba(0, 0, 0, 0.5);
}
header button {
  padding: 10px;
  background-color: hsl(50, 96%, 48%);
  border-radius: 0.5em;
  margin: 2em 0px;
}

/* section info */
.info {
  display: flex;
  justify-content: center;
  padding: 10em 0em;
  background: linear-gradient(hsl(0, 0%, 8%), rgb(21, 1, 24));
}
h2 {
  font-size: 36px;
  font-weight: 900;
  color: hsl(270, 96%, 48%);
  text-align: center;
  margin-bottom: 1em;
}
.info-img {
  display: flex;
}
.card {
  text-align: center;
  font-size: 18px;
  color: hsl(220, 33%, 98%, 0.7);
}
.card a {
  color: hsl(50, 96%, 48%);
}
.card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 0.5em;
  margin: 0.5em 2em;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  border: 4px solid hsl(270, 96%, 48%);
}

/* QUOTE SECTION */

.quote {
  background-color: hsl(294, 95%, 8%);
  display: flex;
  justify-content: center;
}
.phrase {
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  padding: 5em 3em 0em 3em;
  color: hsl(215, 28%, 17%);
  text-align: center;
}
.phrase p {
  margin-bottom: 1em;
  color: hsl(220, 33%, 98%, 0.7);
}
.author {
  text-align: end;
  padding-bottom: 5em;
  margin-right: 12em;
  color: hsl(344, 96%, 48%);
}

/* SECTION SIGNUP */

.signup {
  display: flex;
  justify-content: center;
  background-color: hsl(0, 0%, 100%);
}
.sign-info {
  background-color: hsl(294, 95%, 8%);
  padding: 4em;
  display: flex;
  border-radius: 1em;
  margin: 10em 0em;
  justify-content: space-around;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
}
.sign-info h3 {
  color: hsl(0, 0%, 100%);
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 0.2em;
}
.sign-info p {
  font-size: 16px;
  color: hsl(220, 13%, 91%);
}
.sign-info button {
  color: hsl(50, 96%, 48%);
  border: 2px solid hsl(50, 96%, 48%);
  border-radius: 0.5em;
  padding: 0.5em 1.5em;
}

/* FOOTER */

footer {
  padding: 2em;
}
